{% load static %}
<section class="categories">
    <div class="container categories__container">
      <div class="categories__left">
        <h1>Categories</h1>
        <p>
          In 2020, Facebook had more than 2.5 billion active users making it
          the largest social media platform ever created. On the play store,
          the Facebook app has been downloaded by more than 5.4 Billion users.
          The number of iterations for this free facebook logo is lesser than
          it's social media counterpart Instagram.
        </p>
        <a href="#" class="btn">Learn More</a>
      </div>
      <div class="categories__right">
        <article class="category">
          <span class="category__icon"
            ><i class="uil uil-bitcoin-circle"></i
          ></span>
          <h5>Blockchain</h5>
          <p>
            In 2020, Facebook had more than 2.5 billion active users
          </p>
        </article>
        <article class="category">
          <span class="category__icon"
            ><i class="uil uil-bitcoin-circle"></i
          ></span>
          <h5>Graphic design</h5>
          <p>
            In 2020, Facebook had more than 2.5 billion active users
          </p>
        </article>
        <article class="category">
          <span class="category__icon"
            ><i class="uil uil-bitcoin-circle"></i
          ></span>
          <h5>Finance</h5>
          <p>
            In 2020, Facebook had more than 2.5 billion active users
          </p>
        </article>
        <article class="category">
          <span class="category__icon"
            ><i class="uil uil-bitcoin-circle"></i
          ></span>
          <h5>Marketing</h5>
          <p>
            In 2020, Facebook had more than 2.5 billion active users
          </p>
        </article>
        <article class="category">
          <span class="category__icon"
            ><i class="uil uil-bitcoin-circle"></i
          ></span>
          <h5>Music</h5>
          <p>
            In 2020, Facebook had more than 2.5 billion active users
          </p>
        </article>
        <article class="category">
          <span class="category__icon"
            ><i class="uil uil-bitcoin-circle"></i
          ></span>
          <h5>Business</h5>
          <p>
            In 2020, Facebook had more than 2.5 billion active users
          </p>
        </article>
      </div>
    </div>
  </section>