{% load static %}
<section class="courses">
    <h2>Our Popular Courses</h2>
    <div class="container courses__container">
      <article class="course">
        <div class="course__image">
          <img src="{% static './images/course1.jpg' %}" alt="">
        </div>
        <div class="course__info">
          <h4>Responsive Social Media Website UI Design</h4>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elitLorem ipsum dolor, sit amet consectetur adipisicing elit.Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
          <a href="" class="btn btn-primary">Learn More</a>
        </div>
      </article>
      <article class="course">
        <div class="course__image">
          <img src="{% static './images/course1.jpg' %}" alt="">
        </div>
        <div class="course__info">
          <h4>Responsive SmartHome Website UI Design</h4>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.Lorem ipsum dolor, sit amet consectetur adipisicing elit.Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
          <a href="" class="btn btn-primary">Learn More</a>
        </div>
      </article>
      <article class="course">
        <div class="course__image">
          <img src="{% static './images/course1.jpg' %}" alt="">
        </div>
        <div class="course__info">
          <h4>Responsive Huge Admin Dashboard  UI Design</h4>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.Lorem ipsum dolor, sit amet consectetur adipisicing elit.Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
          <a href="" class="btn btn-primary">Learn More</a>
        </div>
      </article>
    </div>
  </section>