{% load static %}

<section class="faqs">
    <h2>Frequently Asked Questions</h2>
    <div class="container faqs__container">
      <article class="faq">
        <div class="faq__icon"><i class="uil uil-plus"></i></div>
        <div class="question__answer">
          <h4>How do I know the right courses for me</h4>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.Lorem ipsum dolor, sit amet consectetur adipisicing elit.Lorem ipsum dolor, sit amet consectetur adipisicing elit.Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        </div>
      </article>
      <article class="faq">
        <div class="faq__icon"><i class="uil uil-plus"></i></div>
        <div class="question__answer">
          <h4>How do I know the right courses for me</h4>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.Lorem ipsum dolor, sit amet consectetur adipisicing elit.Lorem ipsum dolor, sit amet consectetur adipisicing elit.Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        </div>
      </article>
      <article class="faq">
        <div class="faq__icon"><i class="uil uil-plus"></i></div>
        <div class="question__answer">
          <h4>How do I know the right courses for me</h4>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.Lorem ipsum dolor, sit amet consectetur adipisicing elit.Lorem ipsum dolor, sit amet consectetur adipisicing elit.Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        </div>
      </article>
      <article class="faq">
        <div class="faq__icon"><i class="uil uil-plus"></i></div>
        <div class="question__answer">
          <h4>How do I know the right courses for me</h4>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.Lorem ipsum dolor, sit amet consectetur adipisicing elit.Lorem ipsum dolor, sit amet consectetur adipisicing elit.Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        </div>
      </article>
      <article class="faq">
        <div class="faq__icon"><i class="uil uil-plus"></i></div>
        <div class="question__answer">
          <h4>How do I know the right courses for me</h4>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.Lorem ipsum dolor, sit amet consectetur adipisicing elit.Lorem ipsum dolor, sit amet consectetur adipisicing elit.Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        </div>
      </article>
      <article class="faq">
        <div class="faq__icon"><i class="uil uil-plus"></i></div>
        <div class="question__answer">
          <h4>How do I know the right courses for me</h4>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.Lorem ipsum dolor, sit amet consectetur adipisicing elit.Lorem ipsum dolor, sit amet consectetur adipisicing elit.Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        </div>
      </article>
      <article class="faq">
        <div class="faq__icon"><i class="uil uil-plus"></i></div>
        <div class="question__answer">
          <h4>How do I know the right courses for me</h4>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.Lorem ipsum dolor, sit amet consectetur adipisicing elit.Lorem ipsum dolor, sit amet consectetur adipisicing elit.Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        </div>
      </article>
    </div>
  </section>