{% load static %}
<header>
    <div class="container header__container">
      <div class="header__left">
        <h1>Grow your skill to advance your career path</h1>
        <p>
          In 2020, Facebook had more than 2.5 billion active users making it
          the largest social media platform ever created. On the play store,
          the Facebook app has been downloaded by more than 5.4 Billion users.
          The number of iterations for this free facebook logo is lesser than
          it's social media counterpart Instagram.
        </p>
        <a href="index.html" class="btn btn-primary">Get Started</a>
      </div>
      <div class="header__right">
        <div class="header__right-img">
         <img src="{% static './images/header.svg' %}" alt="" />
        </div>
      </div>
    </div>
  </header>