{% load static %}
<nav>
    <div class="container nav__container">
      <a href="{% url 'home' %}"><h4>Jarma</h4></a>
      <ul class="nav__menu">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'courses' %}">Courses</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
      </ul>
      <button id="open-menu-btn"><i class="uil uil-bars"></i></button>
      <button id="close-menu-btn"><i class="uil uil-multiply"></i></button>
    </div>
</nav>