{% load static %}
<section class="container testimonial__container swiper">
    <h2>Students' Testiomonials</h2>
    <div class="swiper-wrapper">
      <article class="testimonial swiper-slide">
        <div class="avatar">
          <img src="{% static './images/avatar1.jpg' %}" alt="">
        </div>
        <div class="testimonial__info">
          <h5>Diana Ayi</h5>
          <small>Student</small>
        </div>
        <div class="testimonial__body">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum ipsam iure reiciendis, laudantium nulla, impedit atque 
          </p>
        </div>
      </article>
      <article class="testimonial swiper-slide">
        <div class="avatar">
          <img src="{% static './images/avatar2.jpg' %}" alt="">
        </div>
        <div class="testimonial__info">
          <h5>Ernest Achiever</h5>
          <small>Web Developer</small>
        </div>
        <div class="testimonial__body">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum ipsam iure reiciendis, laudantium nulla, impedit atque repellendus
          </p>
        </div>
      </article>
      <article class="testimonial swiper-slide">
        <div class="avatar">
          <img src="{% static './images/avatar3.jpg' %}" alt="">
        </div>
        <div class="testimonial__info">
          <h5>Edem Quist</h5>
          <small>Student</small>
        </div>
        <div class="testimonial__body">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum ipsam iure reiciendis, laudantium nulla, impedit atque repellendus
          </p>
        </div>
      </article>
      <article class="testimonial swiper-slide">
        <div class="avatar">
          <img src="{% static './images/avatar4.jpg' %}" alt="">
        </div>
        <div class="testimonial__info">
          <h5>Hajia Bintu</h5>
          <small>Student</small>
        </div>
        <div class="testimonial__body">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum ipsam iure reiciendis, laudantium nulla, impedit atque repellendus
          </p>
        </div>
      </article>
      <article class="testimonial swiper-slide">
        <div class="avatar">
          <img src="{% static './images/avatar5.jpg' %}" alt="">
        </div>
        <div class="testimonial__info">
          <h5>Panjabi MC</h5>
          <small>Student</small>
        </div>
        <div class="testimonial__body">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum ipsam iure reiciendis, laudantium nulla, impedit atque repellendus
          </p>
        </div>
      </article>
    </div>
  </section>